@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #ccc;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contenedor-form {
    background: linear-gradient(to right, rgba(23,24,53,1), rgba(44,38,85,.5)), url(img/1.jpg);
    max-width: 500px;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 30px #000;
    padding: 50px;
}

.contenedor-form .header {
    margin-bottom: 50px;

}

.contenedor-form .header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
}

.contenedor-form .fila label {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    text-transform: uppercase;
    margin: 7px 0;
    padding: 0 5px;
    transition: .5s;
}
